fastapi
uvicorn
requests

python-dotenv

pypdf

faiss-cpu

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters

google-genai

sentence-transformers
transformers
huggingface-hub

torch